@import "../../index.scss";

.users {
  padding-top: 70px;
}

.users__form {
  background-color: rgb(255, 255, 255);
  max-width: 500px;
  padding: 20px 20px 60px 20px;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 40px auto 0 auto;
}

.form__container {
  display: flex;
}

.users__label {
  margin: 10px 10px 10px 0;
  font-weight: 600;
  color: rgb(123, 78, 5);
}

.notValid {
  color: rgb(211, 58, 58);
}

.users__input {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  color: rgb(39, 26, 4);
  background: transparent;
  flex-grow: 1;
  outline: none;
  border: 1px solid rgb(123, 78, 5);
}

.notValidInput {
  border: 1px solid rgb(211, 58, 58);
}

input:focus {
  background-color: rgba(123, 78, 5, 0.2);
}

.users__btn {
  float: right;
}

.users__title {
  text-align: center;
  margin-top: 40px;
  font-size: 1.2rem;
  font-weight: 600;
  color: $main-color-light;
}

.users__list {
  max-width: 500px;
  margin: 20px auto 0 auto;
}

.users__item {
  background-color: rgb(255, 255, 255);
  color: rgb(123, 78, 5);
  margin-bottom: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.users__delete {
  padding: 4px 1px 0px 2px;
}

.users__empty {
  color: rgba(245, 242, 237, 1);
  margin: 10px auto;
  font-size: 2rem;
}
