@import "../../index.scss";

.error__container {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100vw;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error__background {
  position: absolute;
  min-height: 100vh;
  width: 100vw;
  background-color: rgba($main-color-dark, 0.9);
  z-index: 2;
}
.error__box {
  flex: 1;
  max-width: 450px;
  z-index: 3;
  border-radius: 5px;
  overflow: hidden;
  background-color: $main-color-light;
  margin: 0 15px;
  box-shadow: 0px 0px 15px 7px rgba($bg-color-orange, 1);
}
.error__header {
  color: $main-color-light;
  background-color: $main-color-dark;
  text-align: center;
  padding: 20px;
}
.error__title {
}
.error__main {
  color: $main-color-dark;
  text-align: center;
  padding: 20px;
}
.error__footer {
  padding: 20px;
  text-align: right;
}
