@import "../../styles/base.css";

.error__container {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100vw;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error__background {
  position: absolute;
  min-height: 100vh;
  width: 100vw;
  background-color: rgb(19, 18, 18, 0.8);
  z-index: 2;
}
.error__wrapper {
  min-width: 40vw;
  z-index: 3;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 7px rgb(123, 78, 5);
}
.error__header {
  color: rgb(245, 242, 237);
  background-color: rgb(29, 31, 29);
  text-align: center;
  padding: 20px;
  border-radius: 20px 20px 0 0;
}
.error__title {
}
.error__main {
  background-color: rgb(245, 242, 237);
  color: rgb(29, 31, 29);
  text-align: center;
  padding: 20px;
}
.error__footer {
  background-color: rgb(245, 242, 237);
  padding: 20px;
  border-radius: 0 0 20px 20px;
  text-align: right;
}
