.home__page {
  padding-top: 70px;
}

.home {
  display: flex;
  min-height: calc(100vh - 70px);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.title {
  font-size: 3rem;
  padding: 20px;
  text-align: center;
}

.signInText {
  font-size: 2rem;
  text-align: center;
}

.note__box {
  margin-top: 20px;
  color: rgb(181, 66, 66);
  padding: 20px;
  text-align: justify;
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
}

.note__important {
  color: red;
  font-weight: bold;
  padding-bottom: 10px;
}

.note__text {
  color: rgb(34, 54, 68);
  line-height: 1.2;
}
