@import "../../index.scss";

.header {
  min-height: 70px;
  height: fit-content;
  background-color: $main-color-dark;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.box {
  line-height: 70px;
}

.box__logo {
  margin-right: 20px;
}

.logo__title {
  font-size: 1.4rem;
  font-weight: 600;
}

.display__checkbox {
  display: none;
}

.display__label {
  display: none;
}
.menu__icon {
  font-size: 2rem;
  cursor: pointer;
}

.box__navBar {
  flex: 1;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.header__list {
  flex: 1;
  display: flex;
  column-gap: 10px;
  margin-right: 20px;
}
.header__item {
}

.header__NavLink {
  cursor: pointer;
  transition: 0.2s;
}

.header__NavLink:hover {
  color: rgb(55, 148, 174);
}

.active {
  color: $main-color-orange;
}

.actions {
  position: relative;
}

.button {
  margin-left: 10px;
}

.signInBtn {
  animation: shadow 4s infinite ease-in-out;
  margin-left: 0;
}

@keyframes shadow {
  50% {
    box-shadow: 0 0 5px #fff;
  }
}
@-o-keyframes shadow {
  50% {
    box-shadow: 0 0 5px #fff;
  }
}
@-webkit-keyframes shadow {
  50% {
    box-shadow: 0 0 5px #fff;
  }
}
@-moz-keyframes shadow {
  50% {
    box-shadow: 0 0 5px #fff;
  }
}

@media screen and (max-width: 600px) {
  .box__navBar {
    position: absolute;
    background-color: $main-color-dark;
    width: 100%;
    min-height: calc(100vh - 70px);
    top: 70px;
    left: 0;
    padding: 15px;
    box-sizing: border-box;
    z-index: 3;
    transform: translateX(-100vh);
    transition: transform 0.3s;
    opacity: 0;
  }

  .display__label {
    display: block;
  }

  .display__checkbox:checked ~ .display__label {
    color: $main-color-orange;
  }

  .display__checkbox:checked ~ .box__navBar {
    transform: translateX(0);
    opacity: 1;
    border-top: 1px solid $main-color-orange;
  }

  .nav {
    flex-direction: column;
    box-sizing: border-box;
  }

  .header__list {
    flex: 1;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }

  .actions {
    text-align: center;
  }
  .button {
    padding: 10px 50px;
  }
}

.arrowUp {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  top: 100%;
  font-size: 2rem;
  padding: 5px;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.6);
  animation: resize 4s infinite ease-in-out;
  -o-animation: resize 4s infinite ease-in-out;
  -moz-animation: resize 4s infinite ease-in-out;
  -webkit-animation: resize 4s infinite ease-in-out;
}

@keyframes resize {
  50% {
    transform: translateY(50px) translateX(50%);
    font-size: 1.2rem;
  }
}
@-o-keyframes resize {
  50% {
    transform: translateY(50px) translateX(50%);
    font-size: 1.2rem;
  }
}
@-moz-keyframes resize {
  50% {
    transform: translateY(50px) translateX(50%);
    font-size: 1.2rem;
  }
}
@-webkit-keyframes resize {
  50% {
    transform: translateY(50px) translateX(50%);
    font-size: 1.2rem;
  }
}
