@import "../../index";

.countryCard {
  background-color: rgb(160, 202, 215);
  color: $main-color-dark;
  padding: 30px 0;
  box-sizing: border-box;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 70px;
  min-height: calc(100vh - 70px);
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.flag_box {
  position: relative;
  display: block;
  max-width: 200px;
  height: 150px;
  margin-bottom: 20px;
  z-index: 1;

  transition: 1s;
}

.flag_box:hover {
  max-width: 600px;
  left: 0;
}
.flag_box:hover ~ .properties_table {
  display: none;
}
.flag_box:hover ~ .button {
  display: none;
}
.flag {
  position: absolute;
  width: 100%;
  height: auto;
}

.properties_table {
}
.properties_row {
}
.properties_title {
  color: $main-color-light;
  padding: 5px;
  min-width: 100px;
  text-align: right;
}
.properties_value {
  padding: 5px;
}

.button {
  margin-top: 50px;
  min-width: 200px;
}
